<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Favourites</title>
  </head>
  <body>

    <h1>Welcome to the gallery!</h1>

    <% 25.times do |i| %>
      <img src="http://unsplash.it/200/300?random=<%=1%>">
    <% end %>

  </body>
</html>
