<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>Favourites</title>
  </head>
    <title>Home</title>
  </head>
  <body>

    <h1>Hi, this is the home page!</h1>

  </body>
</html>
